<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>agendapd</display-name>
	<welcome-file-list>
		<welcome-file>home.jsp</welcome-file>
	</welcome-file-list>
	<resource-ref>
		<description>
  		Riferimento JNDI a un data source
  	</description>
		<res-ref-name>jdbc/agendapd</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	<filter>
		<filter-name>httpHeaderSecurity</filter-name>
		<filter-class>org.apache.catalina.filters.HttpHeaderSecurityFilter</filter-class>
		<init-param>
			<param-name>xssProtectionEnabled</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>antiClickJackingEnabled</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>antiClickJackingOption</param-name>
			<param-value>DENY</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>httpHeaderSecurity</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>RequestsCounterFilter</filter-name>
		<filter-class>agendapd.control.RequestsCounterFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>RequestsCounterFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>JSPFilter</filter-name>
		<filter-class>agendapd.control.JSPFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>JSPFilter</filter-name>
		<url-pattern>/nav.jsp</url-pattern>
		<url-pattern>/footer.jsp</url-pattern>
		<url-pattern>/login.jsp</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>DelayResponseFilter</filter-name>
		<filter-class>agendapd.control.DelayResponseFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>DelayResponseFilter</filter-name>
		<url-pattern>/registrazione</url-pattern>
		<url-pattern>/accesso</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>ProtectedAreaFilter</filter-name>
		<filter-class>agendapd.control.ProtectedAreaFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ProtectedAreaFilter</filter-name>
		<url-pattern>/admin.jsp</url-pattern>
		<url-pattern>/paziente.jsp</url-pattern>
		<url-pattern>/segretaria.jsp</url-pattern>
		<url-pattern>/dottore.jsp</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>SecureConnectionFilter</filter-name>
		<filter-class>agendapd.control.SecureConnectionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SecureConnectionFilter</filter-name>
		<url-pattern>/registrazione.jsp</url-pattern>
		<url-pattern>/accesso.jsp</url-pattern>
	</filter-mapping>
	<error-page>
		<location>/errore.jsp</location>
	</error-page>
</web-app>